/* 基础设置 */
.container {
    width: 1190px;
    margin: 0 auto;
}
/*PS #region和#endregion可以强制折叠 */

/* #region 顶部导航条*/
.topbar {
    height: 30px;
    background-color: #ECECEC;
}

.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}

.welcome span,
.welcome a {
    font-size: 12px;
}

.welcome .hi {
    margin-right: 28px;
}

.welcome .dl {
    padding-right: 10px;
    /* 内边距外面是边框，边框外面是外边距 */
    border-right: 1px solid #666;
}

.welcome .zc {
    padding-left: 10px;
}

.topbar-nav .list {
    height: 30px;
    line-height: 30px;
}

.topbar-nav .list li {
    float: left;
}

.topbar-nav .list li a {
    padding: 0 15px;
    border-right: 1px solid black;

}

.topbar-nav .list li:first-child a {
    padding-left: 0;
}

.topbar-nav .list li:last-child a {
    border: 0;
    padding-right: 0;
}

/* #endregion 顶部导航条 */

/* #region 头部 */

.header {
    height: 120px;
    /* background-color: aqua; */
}

.header .sou form {
    margin-top: 42px;
    font-size: 0;
}

.header .sou input {
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;

}

.header .sou button {
    width: 80PX;
    height: 36px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url("../imges/serch_icon.png");
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* #endregion头部 */

/* #region 主导航区 */

.main-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}

.main-nav .container .all-types {
    width: 190px;
    height: 48px;
    line-height: 48px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    font-style: 16px;
}

.main-nav .main-nav-list {
    height: 48px;
    line-height: 48px;
}

.main-nav .main-nav-list li {
    float: left;
    margin: 0 10px;
    font-size: 16px;
}

.main-nav .main-nav-list li a {
    color: black;
}

/* #endregion 主导航区 */

/* #region内容区侧边导航 */
.main-cont {
    margin-top: 10px;
}

.main-cont .zuo {
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
    position: relative;
}

.main-cont .zuo li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;

}

.main-cont .zuo li:hover {
    background-color: #DD302D;

}

.main-cont .zuo li:hover .two-1 {
    display: block;
}

/*li:hover>a子代选择器  */
.main-cont .zuo li:hover>a {
    color: white;

}

.main-cont .zuo li a {
    color: black;

}

.main-cont .two-1 {
    width: 680px;
    height: 458px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}

.two-1 dl:first-child {
    margin-top: 10px;

}

.two-1 dl {
    height: 36px;
    line-height: 36px;
}

.two-1 dt {
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}

.two-1 dd {
    float: left;


}

.two-1 dd a {
    padding: 0 10px;
    border-left: 1px solid #666;
}

.main-cont .banner {
    width: 690px;
    height: 458px;
    margin: 0 10px;
}

.main-cont .you {
    width: 290px;
    height: 458px;
}

.main-cont .you .shang {
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0 14px;
}
.main-cont .you .shang .shangtou {
   height: 39px;
   line-height: 39px;
   border-bottom: 1px solid #D9D9D9;
}
.main-cont .you .shang .shangtou span {
    font-size: 14px;
    font-weight: bold;
 }
 .main-cont .you .shang .shangtou a {
    font-size: 12px;
 }
.you .shang .shang-li li {
    height: 26px;
    line-height: 26px;
 }
.main-cont .you .xia {
    margin-top: 10px;
    height: 290px;
    width: 290px;
    overflow: hidden;
}
.you .xia .xia-list li {
   height: 70px;
   width: 48px;
  float: left;
  margin: 0 11px;
  text-align: center;
  cursor: pointer;
}
.you .xia .xia-list li span {
    display: inline-block;
margin-top: 5px;
font-weight: bold;
 }
.you .xia .xia-list:first-child{
margin-top: 16px;
}
.you .xia .xia-list:nth-child(2){
    margin: 17px 0;
}
.you .xia .xia-list li:first-child{
  margin-left: 16px;
  
 }
 .xia-list .imges{
    width: 48px;
    height: 48px;
    background-image: url("../imges/精灵图-侧边功能.png");
    
 }
 .xia-list:nth-child(1) li:nth-child(1) .imges{
background-position: 0 0;
}
 .xia-list:nth-child(1) li:nth-child(2) .imges{
    background-position: -48px 0;
}
.xia-list:nth-child(1) li:nth-child(3) .imges{
    background-position: -96px 0;
}
     .xia-list:nth-child(1) li:nth-child(4) .imges{
        background-position: -144px 0;
}

.xia-list:nth-child(2) li:nth-child(1) .imges{
    background-position: 0 -48px;
    }
     .xia-list:nth-child(2) li:nth-child(2) .imges{
        background-position: -48px -48px;
    }
    .xia-list:nth-child(2) li:nth-child(3) .imges{
        background-position: -96px -48px;
    }
         .xia-list:nth-child(2) li:nth-child(4) .imges{
            background-position: -144px -48px;
    }

    .xia-list:nth-child(3) li:nth-child(1) .imges{
        background-position: 0 -96px;
        }
         .xia-list:nth-child(3) li:nth-child(2) .imges{
            background-position: -48px -96px;
        }
        .xia-list:nth-child(3) li:nth-child(3) .imges{
            background-position: -96px -96px;
        }
             .xia-list:nth-child(3) li:nth-child(4) .imges{
                background-position: -144px -96px;
        }
/* #endregion内容区侧边导航 */


/* #region 秒杀 */

.miao .container{
    display: flex;
    margin-top: 10px;
}
.miao .container img {
    
    display: block; /* 确保图片在同一行显示 */
    margin-right: 11px;
    cursor: pointer;
}
/* #endregion 秒杀 */


/* #region 楼层 */

.floor{
    margin-top: 48px;
}

.floor-top{
    height: 30px;
    line-height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
}
.floor-top-name{
    
    font-size: 20px;
    font-weight: bold;
}
.floor-top .floor-top-nr li{
    font-size: 14px;
    float: left;
}
.floor-top .floor-top-nr li a{
    padding: 0 10px;
    border-right: 1px solid #666;
}
.floor-top .floor-top-nr li:first-child a{
    padding-left: 0;
}
.floor-top .floor-top-nr li:last-child a{
    padding-right: 0;
    border: 0;
}

.floor-bottom .item{
    float: left;
}
.floor-bottom .item1{
    height: 392px;
    width: 190px;
    background-color: #fbfbfb;
    padding: 20px;
}
.floor-bottom .item1-list{
margin-bottom: 29px;
}
.floor-bottom .item1-list li{
 width: 90px;
 height: 22px;
padding-bottom: 3.5px;
border-bottom: 1px solid #D9D9D9;
font-size: 16px;
text-align: center;
} 
.item1-list li:nth-child(2n-1){
float: left;
   }
.item1-list li:nth-child(2n){
    float: right;
}
.floor-bottom .item1-list li:nth-child(3),
.floor-bottom .item1-list li:nth-child(4){
    margin: 14.4px 0;
}

.floor-bottom .item2{
    height: 432px;
    width: 340px;
    
}
.floor-bottom .item3{
    height: 432px;
    width: 206px;
    
    border-right:1px solid #E2E2E2;
    
}
.item3 img,.item4 img,.item5 img{
    border-bottom:1px solid #E2E2E2;
    
}

.floor-bottom .item4{
    height: 432px;
    width: 206px;
   
    border-right:1px solid #E2E2E2;
}
.floor-bottom .item5{
    height: 432px;
    width: 206px;
    
}
/* #endregion 楼层 */


/* #region 页脚 */
.foot{
height: 440px;
background-color: #483E3E;
margin-top: 48px;
}
.foot .foot-top-list{
    float: left;
    height: 190px;
    width: 190px;
    margin-top: 48px;
    margin-right: 10px;
}
.foot .foot-top-list:last-child{
    margin-right: 0;
}
.foot .foot-top-list a{
    color: white;
    font-size: 14px;
    
}
.foot-line{
    /* margin-top: 22px; */
    height: 1px;
    background-color: #584d4d;
}
.foot-lx{
    display: inline-block;
   
}
.foot .foot-button{
    margin-top: 47px;
    text-align: center;
}
.foot .foot-lx li{
float: left;
}
.foot .foot-lx li a{
    color: white;
    font-size: 14px;
    padding: 0 26px;
    border-right: 1px solid white;
    
}
.foot .foot-lx li:first-child a{
    padding-left: 0;
}
.foot .foot-lx li:last-child a{
    padding-right: 0;
    border-right: 0;
}
.cop{
margin-top: 10px;
color: white;
}
/* #endregion 页脚 */